<p>Online Exam</p>
<div class="container" >
   <div *ngIf="queLoaded|async">
        <form [formGroup]="questionform" (ngSubmit)="submit()">
            <label class="form-label">{{(currentQue) +') '+currentQuestion.question}}</label><br/>
            <input type="radio"  formControlName={{currentQuestion.question}} (change)="answersSave(currentQuestion.answers.answer_a)"  [value]="currentQuestion.answers.answer_a">{{currentQuestion.answers.answer_a}}<br/>
            <input type="radio" formControlName={{currentQuestion.question}} (change)="answersSave(currentQuestion.answers.answer_b)" (change)="answersSave(currentQuestion.answers.answer_a)" [value]="currentQuestion.answers.answer_b">{{currentQuestion.answers.answer_b}}<br/>
            <div *ngIf="currentQuestion.answers.answer_c !=null" >
                <input type="radio" formControlName={{currentQuestion.question}} (change)="answersSave(currentQuestion.answers.answer_c)" [value]="currentQuestion.answers.answer_c">{{currentQuestion.answers.answer_c}}<br/>
            </div>
            <div *ngIf="currentQuestion.answers.answer_d !=null" >
                <input type="radio" formControlName={{currentQuestion.question}} (change)="answersSave(currentQuestion.answers.answer_d)"  [value]="currentQuestion.answers.answer_d">{{currentQuestion.answers.answer_d}}<br/>
            </div>
            <br/>
            <br/>
            <br/>
            <div *ngIf="nextVisibility">
                <input type="button" (click)="next()" value="Next question">   
            </div>
                 
            <div *ngIf="submitVisibility">
                <input type="button" (click)="submit()" value="Submit"> 
            </div> 
         
    </form>
</div>
</div>

