
<div class="card" style="width: 50rem;">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRsdj4RAJu4-1pdTxxWVdw58JH0oxliW-hxIA&usqp=CAU" class="card-img-top" alt="...">
    <div class="card-body">
      <p class="card-text">The test contains 10 questions and there is no time limit.</p>
      <p class="card-text">You will get 1 point for each correct answer. At the end of the Quiz, your total score will be displayed. Maximum score is 10 points.</p>
      <p class="card-text">Good Luck!</p>
      <input type="button" class="btn btn-primary" value="Start Quiz" (click)="startQuiz()">
     
    </div>
  </div>

