<div class="scoreContainer">
<div class="container btn btn-success" *ngIf="pass">
<h1>Congratulations!!!You are successfully Passed the exam</h1>
</div>
<div class="container btn btn-danger" *ngIf="!pass">
    <h1>OOps!!!You are failed  the exam</h1>
    </div>
    <div class="container btn btn-info">
<div class="row ">
    <div class="col-6">
       <p> No:of correct ansers:{{correct}}</p>
    </div>
    <div class="col-6">
    <p> No:of Wrong ansers:{{wrong}}</p>
</div>
</div>
</div>
</div>


